<h1>Add a CD to your organizer</h1>

<form class="cdInput" action="/artists" method="post">
  <label for="title">CD Title:</label>
  <input type="text" name="title">
  <label for="artist-name">Artist:</label>
  <input type="text" name="artist-name">
  <button type="submit">Go!</button>
</form>


<h3><a href="/artists">View Artists</a></h3>
<h3><a href="/artist/search">Search Artists</a></h3>
<h3><a href="/">Home</a></h3>
