<h2>That artist does not exist!</h2>

<h3><a href="/">Home Page</a></h3>
<h3><a href="/artists">View Artists</a></h3>
<h3><a href="/artist/search">Search Again</a></h3>
<h3><a href="/cd/new">Create a new CD</a></h3>
