<h1>Search for Artist!</h1>

<form action="/artists/search/results" method="post">
  <label for="search-artist">Search for an Artist</label>
  <input type="text" name="search-artist">
  <button type="submit">Search!</button>
</form>

<h3><a href="/cd/new">Add a new CD</a></h3>
<h3><a href="/artists">View Artists</a></h3>
<h3><a href="/">Home</a></h3>
